<!DOCTYPE html>
<html lang="en">
	<head>
		<% if (loggedIn) { %>
		<meta charset="UTF-8"/>
		<meta name="description" content="Acct.IO" />
		<meta name="author" content="Ecor Systems, LLC"/>
		<meta name=​"viewport" content=​"width=device-width, initial-scale=1.0">
		<meta name="generator" content="EcorEngine" /> 
		<meta name="application-name" content="Acct I/O"/>
		<meta name="ROBOTS" CONTENT="NOINDEX, NOFOLLOW" />
		
		<title><%= title %></title>
		<link rel="icon" type="image/ico" href="http://@TLD/favicon.ico"/>
		<link href="https://@TLD/css/bootstrap.css" rel="stylesheet"/>
		<% } else { %>
		<meta http-equiv="Refresh" content="0;url=http://@TLD"/> 
		<% } %>
	</head>
	<body>
		<div id="main-home">
			<% if (loggedIn) { %>
			<div class="navbar navbar-fixed-top">
				<div class="navbar-inner">
					<div class="container">
						<a class="brand" href="#">acct.io</a>
						<ul class="nav pull-right">
							<li class="dropdown">
								<a href="#"
							          class="dropdown-toggle"
							          data-toggle="dropdown">
							          <i class="icon-user icon-white" style="margin-right:4px;"></i>My Account
							          <b class="caret"></b>
							    </a>
							    <ul class="dropdown-menu">
							    	<li><a href="">Preferences</a></li>
							    	<li><a href="">Email</a></li>
							    	<li class="divider"></li>
							    	<li class="nav-header">Connected Logins</li>
							    	<li><a href="">Github</a></li>
							    	<li><a href="">Facebook</a></li>
							    	<li><a href="">LinkedIn</a></li>
							    	<li><a href="">Twitter</a></li>
							    </ul>
							</li>
							<li><a href="/logout">Logout</a></li>							
						</ul>
					</div>
				</div>
			</div>
			<div class="container" style="margin-top:60px;">
			<% } %>	
			

