<%- partial('header') %>
	<% if(!registered) { %>
		<div id="notices">
			<% if(!trusted) { %>
			  	<div class="alert">
					<h4 class="alert-heading">Email Address Verification Required</h4>
					A validation code has been sent to you at <%= email %>.
					<form class="form-inline" style="margin-top:6px;">
						<input type="text" class="span3" id="vcd" placeholder="Enter Verification Code"/>
						<button id="validate" data-loading-text="Validating..." class="btn btn-small btn-success" autocomplete="off" onclick="javascript:validateUser(document.getElementById('vcd').value);"><i class="icon-ok icon-white" style="margin-right: 4px;"></i>Validate</button>
						<button id="resend" data-loading-text="Sending..." class="btn btn-small btn-warning" autocomplete="off" onclick="javascript:resendValidationEmail();"><i class="icon-envelope icon-white" style="margin-right: 4px;"></i>Resend Code</button>
					</form>
				</div>
			<% } %>
			<% if(requirePassword) { %>
			<div class="alert">
			  <h4 class="alert-heading">Set a Password</h4>
			  You must <a href="">set a password</a> before creating or joining a domain. Alternatively, you may use your <a href="">Github</a>, <a href="">Twitter</a>, or <a href="">Facebook</a> account.
			</div>
			<% } %>
			<div class="alert alert-info">
				<a class="close" data-dismiss="alert">&times;</a>
				<h4 class="alert-heading">Did you know?</h4>
				You can use <a href="">Github</a>, <a href="">Facebook</a>, <a href="">Twitter</a>, or <a href="">LinkedIn</a> for one-click logins.
			</div>
		</div>
	<% } %>
	You have no domains. Please create one. testing.
<%- partial('footer') %>