h3
p
p
                |<html><body>
                |<form enctype="application/x-www-form-urlencoded" action="/process_form" method="post">

                |ID: <input name="ID" type="text" value = "Auto Generated" size="25" disabled="disabled" />
                |Name: <input name="name" type="text" size="25" />
                |Definition: <input name="definition" type="text" size="25" />
                |Created By: <input name="username" type="text" size="25" />            
                
                |<input type="submit" />

                |</form>
                |</body></HTML>




p|<a href="../">Index</a>