html
	body
		|<form enctype="application/x-www-form-urlencoded" action="/searchResults" method="post">
		|searchTerm: <input name="searchTerm" type="text" size="25"/><br>
		|<input type="radio" name="searchType" value="name"> Error Code Name<br>
		|<input type="radio" name="searchType" value="def"> Error Code Description<br>
		|<input type="radio" name="searchType" value="createdBy"> Error Code Author<br>
		|<input type="submit" />
		|</form>
p|<a href="../">Index</a>