<!DOCTYPE html> 
<html lang="en"> 
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<meta charset="utf-8"/>
		<meta http-equiv="Content-Style-Type" content="text/css" /> 
		<meta name="generator" content="EcorEngine" />
		<meta name="ROBOTS" CONTENT="NOINDEX, NOFOLLOW" />
		<link rel="icon" type="image/ico" href="http://universaluser.info/favicon.ico"/>
		<title><%= title %></title>
	</head>
	<body>
	ERROR
	<hr/>