<p>Welcome to Acct I/O <b>{{firstname}}</b>!</p>
<p>To validate your account, please click <a href="https://universaluser.info/validate/{{validationcode}}">here</a>.</p>
<br/><br/>
<p>Your validation code is <u>{{validationcode}}</u></p>